body {
    font-family: Inter, system-ui;
}

h1, h2 {
    font-weight: normal;
    margin: 0;
}

body, form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hidden {
    visibility: hidden;
}

#input-error {
    color: red;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0;
    overflow: hidden;
}

#results li {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem; /* Base font size */
}

#results li:nth-child(odd) {
    background-color: #f5f5f5; /* Light gray for odd items */
}
